<div id="<%= dom_id sticker %>">
  <p>
    <strong>Member:</strong>
    <%= sticker.member_id %>
  </p>

  <p>
    <strong>Sticker number:</strong>
    <%= sticker.sticker_number %>
  </p>

  <p>
    <strong>Sticker variation:</strong>
    <%= sticker.sticker_variation %>
  </p>

</div>
